

    <!--<script type="text/javascript">-->
        <!--$(function(){-->
            <!--$('#header').animate({'top':'-100px'},400);-->
        <!--});-->
    <!--</script>-->



{% include "mn/head.html" %}


<div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">

        <div class="swiper-slide sliderbg_menu">
            <div class="swiper-container swiper-nested">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="logo"><a href="#">记账本</a></div>
                            <div class="menu">
                                <ul>
                                    <li><a href="/mn/aboutUs"><img src="/static/public/images/icons/about.png" alt="" title="" /><span>个人中心</span></a></li>
                                    <li><a href="/mnItem/blank"><img src="/static/public/images/icons/pencil.png" alt="" title="" /><span>记账</span></a></li>
                                    <li><a href="/mnItem/dayList"><img src="/static/public/images/icons/docs.png" alt="" title="" /><span>账本</span></a></li>

                                    <li><a href="/mnItem/incomePerMonth"><img src="/static/public/images/icons/statistics.png" alt="" title="" /><span>收入汇总</span></a></li>
                                    <li><a href="/mnItem/payedPerMonth"><img src="/static/public/images/icons/statistics.png" alt="" title="" /><span>支出汇总</span></a></li>
                                    <li><a href="/mnEvent/list"><img src="/static/public/images/icons/layout.png" alt="" title="" /><span>事件记账</span></a></li>
                                    <li><a href="/mn/weixin"><img src="/static/public/images/icons/weixin.png" alt="" title="" /><span>关注我们</span></a></li>

                                    <li><a href="/mn/contact"><img src="/static/public/images/icons/contact.png" alt="" title="" /><span>联系我们</span></a></li>
                                    <li><a href="/mn/service"><img src="/static/public/images/icons/tools.png" alt="" title="" /><span>设置</span></a></li>

<!--                                    <li><a href="/mn/blog"><img src="/static/public/images/icons/blog.png" alt="" title="" /><span>Blog</span></a></li>-->
<!--                                    <li><a href="/mn/gallery"><img src="/static/public/images/icons/photos.png" alt="" title="" /><span>相册</span></a></li>-->
<!--                                    <li><a href="/mn/client"><img src="/static/public/images/icons/clients.png" alt="" title="" /><span>Clients</span></a></li>-->
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</div>

