<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="author" content="FrankLee"/>
    <meta name="description" content="GoMobile - A next generation web app theme"/>
    <meta name="keywords"
          content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app"/>

    <title>记账</title>
    <link type="text/css" rel="stylesheet" href="/static/public/css/style.css">
    <link type="text/css" rel="stylesheet" href="/static/public/colors/green/green.css">
    <link type="text/css" rel="stylesheet" href="/static/public/css/idangerous.swiper.css">
    <link type="text/css" rel="stylesheet" href="/static/public/css/swipebox.css"/>
    <script type="text/javascript" src="/static/public/js/jquery-1.10.1.min.js"></script>
    <script src="/static/public/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/static/public/js/mn.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('#header').animate({'top': '0px'}, 400);
        });
    </script>
</head>
<body>
{% include "mn/head.html" %}

<div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">

        <div class="swiper-slide sliderbg">
            <div class="swiper-container swiper-nested">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner">
                            <div class="pages_container">
                                <div class="posts_archive_page">

                                    <h2 class="page_title">本月记账</h2>
                                    <div class="toogle_wrap_blog radius8">
                                        <div class="trigger_blog"><span>2015-12</span></div>
                                    </div>

                                    <ul class="posts">
                                        <li class="post" id="postid1">
                                            <a href="/mnItem/dayList" class="post_more"></a>

                                            <div class="post_right_reveal">
                                                <h4><span style="color:red">总支出 : &yen;15.00</span></h4>
                                                <h4><span style="color:green">总收入 : &yen;10236.50</span></h4>
                                            </div>
                                            <div class="post_left">
                                                <span class="day">20</span>
                                                <span class="month">12月</span>
                                            </div>
                                        </li>
                                        <li class="post" id="postid1">
                                            <a href="/mnItem/dayList" class="post_more"></a>

                                            <div class="post_right_reveal">
                                                <h4><span style="color:red">总支出 : &yen;15.00</span></h4>
                                                <h4><span style="color:green">总收入 : &yen;10236.50</span></h4>
                                            </div>
                                            <div class="post_left">
                                                <span class="day">21</span>
                                                <span class="month">12月</span>
                                            </div>
                                        </li>
                                        <li class="post" id="postid1">
                                            <a href="/mnItem/dayList" class="post_more"></a>

                                            <div class="post_right_reveal">
                                                <h4><span style="color:red">总支出 : &yen;15.00</span></h4>
                                                <h4><span style="color:green">总收入 : &yen;10236.50</span></h4>
                                            </div>
                                            <div class="post_left">
                                                <span class="day">22</span>
                                                <span class="month">12月</span>
                                            </div>
                                        </li>
                                    </ul>


                                </div>
                                <!--End of posts archive page-->

                                <div class="scrolltop radius20"><a href="#"><img src="/static/public/images/icons/top.png"
                                                                                 alt="Go on top" title="Go on top"/></a>
                                </div>
                            </div>
                            <!--End of page container-->
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
