/*区域直营*/
.w_comm{ background-color:#fff; padding:0 20px;}
.sp_tie{ line-height:30px; padding: 10px 0 0;}
.sp_tie h2{ float:left; color:#807a7a;}
.sp_tie a{ float:right; color:#999; padding-right:4px;}
.sp_fl ul li{ float:left; height:30px; line-height:26px; background-color:#eaeaea; padding:0 10px; border:4px solid #fff; border-left:0; border-top:0;}
.sp_fl ul li a{ color:#666;}

.add_m{ float:left; color:#fff; width:65px; text-align:center; line-height:46px; background:url(../../images/new/s_x.png) no-repeat right center; background-size:17px 12px; margin-right:10px; padding-right:15px;} 
.add_m1{ background:url(../../images/new/s_t.png) no-repeat right center; background-size:17px 12px;}

.search_shop{ width:50%; float:left; border-radius:5px; border:1px solid #a9a2a2; background:#fff; margin-top:5px;}
.t_input{ width:80%; border:0; float:left; height:34px; margin-left:5px;}
.search_shop a{ float:right; width:13%; margin: 0 3px 0 0; padding:8px 0 0;}
.zy_btn {background: #fff; border: none; color: #666; display: none; float: left; height: 30px; line-height: 30px; margin: 5px 0 0 5px; border-radius: 5px;}

.s_fl_b{ float:right; width:21px; height:18px; margin-top:12px; }

ul.opt_tie{ background-color:#fff; border:1px solid #ddd5d5; border-left:0; border-right:0;}
ul.opt_tie li{ float:left; border-left:1px solid #ddd5d5; width:33%; text-align:center; line-height:40px;}
ul.opt_tie li a{ color:#666;}
ul.opt_tie li a.hover,ul.opt_tie li a:hover{ color:#d0281e;}
ul.opt_tie li.w34{ width:42%; border-left:0;}
ul.opt_tie li.w11{ width:25%;}
ul.opt_tie li.tie1 a{background:url(../../images/new/s_x_h.png) no-repeat right center; background-size:14px; padding-right:21px;}
ul.opt_tie li.tie1 a.hover,ul.opt_tie li.tie1 a:hover{ background:url(../../images/new/s_x_c.png) no-repeat right center; background-size:14px;}

.shop_list{margin-top:5px; padding: 0 2%;}
.shop_list ul li{ width:46%; background:#fff; float:left; padding:8px 7px; margin:0 2% 4% 2%;}
.shop_list ul li p{ line-height:135%; padding:7px 0; height:52px; overflow:hidden;}
.shop_list ul li a{ font-size:14px;}
.shop_list ul li a img{ width:100%;}

.s_result{ margin:10px 0; color:#666; border:1px solid #ddd5d5; background:#fff; line-height:40px; text-align:center; font-size:13px;}

.q_ys1{ width:80%; float:left;}
.header a.q_ys,.header .hyzc{ color:#fff; position:absolute; right:20px; top:0px;line-height: 46px;}
.header a.hyzl{ color:#fff; position:absolute; left:20px; top:0px;}
/*.header .hyzc {}*/


.price_con{ padding:0 30px 100px 30px; border-bottom:1px solid #fff; margin-bottom:10px;}
.pri_tie{ color:#d0281e; line-height:50px;}
.pri_nr{ line-height:30px;}
.pri_nr span{ float:left; color:#4d4d4d;}
.p_input{ float:left; width:33%; margin:0 10px; border-radius:5px; border:1px solid #d2cccb; height:30px;}
.carry_out{ float:right; margin-right:30px; padding: 0 10px; background:#d0281e; border-radius:5px; height:35px; line-height:35px; text-align:center;}
.carry_out a{ color:#fff;}

.resuilt img{ padding-top:50px; margin:0 auto; width: 20%;} 
.r_wz{ text-align:center; line-height:140%; color:#999; margin-top:20px;}

.location{ margin:15px 20px 0 20px; border-radius:5px; border:1px solid #d7d3d3; background:#fff; line-height:40px; color:#666; padding-left:15px;}
.l_tie{ line-height:60px; color:#666; padding:0 20px;}

.l_list{ margin:0 20px; border-radius:5px; overflow:hidden; border:1px solid #d7d3d3; background-color:#fff;}
.l_list.mt10{ margin-top:20px;}
.l_table{ position:relative; overflow:hidden; z-index:0;}
.l_table li{ display:inline-block; width:25%; float:left; height:40px; line-height:40px; text-align:center; border-bottom:1px solid #d7d3d3; margin-bottom:-2px; position:relative; z-index:10; color:#666;}
.l_table li a{ color:#666;}
.l_table:before{ content:""; position:absolute; width:25%; left:25%; height:100%; border-left:1px solid #d7d3d3; border-right:1px solid #d7d3d3;}
.l_table:after{ content:""; position:absolute; width:10%; left:75%; height:100%; border-left:1px solid #d7d3d3; border-right:none;}


.l_abc h3{ height:30px; line-height:30px; color:#666; background-color:#e5e5e5; padding-left:20px;}
.l_xz li{ height:40px; line-height:40px; padding-left:20px; border-bottom:1px solid #d2d2d2; background-color:#fff; color:#666; position:relative; cursor:pointer;}
.l_xz li .a {display:none; padding-left:20px; width:100%; box-shadow:0 5px 5px #ccc; position:absolute; left:0; top:41px; background:#f8f8f8; z-index:99; padding-right:28px; line-height:32px;}
.l_xz li .a span { padding-right:10px; display:inline-block;}
.l_xz li .a .de {font-size:16px; color:#000; position:absolute; right:10px; top:3px;}

.seq_list{ padding:0 20px; background:#fff; box-shadow:0 10px 10px #555;}
.seq_list ul{ padding-bottom:30px;}
.seq_list ul li{ border-bottom:1px solid #dfd8d8; line-height:50px; height:50px;}
.seq_list ul li a{ display:block; color:#666; padding:0 20px;}
.seq_list ul li a.hover,.seq_list ul li a:hover{ color:#d0281e; background:url(../../images/new/dui_tb.png) no-repeat 95% center;}


.change{ border:1px solid #e6dcdc; border-radius:5px; background:#fff; margin:50px 20px 0 20px; height:40px; line-height:40px;}
.change span{ float:left; padding-left:20px; color:#666;}
.change a{ float:right; margin-right:20px; color:#d0281e; background:url(../../images/new/change_bg.png) no-repeat right center; padding-right:30px;}
.l_shadow{ box-shadow:0 10px 10px #555; height:50px;}

/*ji fen*/
.my_inte{ margin-top:10px; margin-bottom:20px; color:#666; letter-spacing:2px;}
.my_inte h4{ float:left; width:50%; border-right:1px solid #ada6a6; text-align:right; padding-right:5%;}
.jf{ float:left; padding-left:5%;}
.m_search{ margin:20px;}
.m_input{ float:left; width:80%; border-top-left-radius:8px; border:1px solid #bfbfbf; background-color:#eee; height:30px; border-bottom-left-radius:8px; padding-left:5px;}
.m_search a{ float:left; width:20%; background:#d0281e; height:30px; line-height:30px; text-align:center; color:#fff; border-top-right-radius:8px; border-bottom-right-radius:8px;}

.m_con{ margin:0 5px; border-bottom:1px solid #c8c8ca; padding:10px;}
.m_con h1{ float:left; padding-top:5px; font-size:14px; padding: 0 10px 0 0; line-height: 1.5;}
ul.m_list{ float:left; margin: 0 0 10px 0;}
ul.m_list li {float: left;font-size: 12px;margin-right: 8px;}
ul.m_list li a {display: block;line-height: 1.5;padding: 0 5px;}
ul.m_list li a.hover_click{ border-radius:5px; padding: 0 5px; background-color:#aa2b27; color:#fff;}
ul.m_list li.bg{ background:url(../../images/new/arr_top.png) no-repeat right 3px; padding-right:12px; background-size:10px 15px;}
ul.m_list li.bg1{ background:url(../../images/new/arr_bottom.png) no-repeat right 3px; padding-right:12px; background-size:10px 15px;}
.m_kk{ float:left; position:relative;}
.m_kkr{margin: 0 5px 0 0;}
.m_kk i{ position:absolute; top:3px; left:2px; color:#666;}
.m_input1{ width:60px; padding-left:13px; border:1px solid #c9c8c8; height:25px; background:#eee;}
.j_center{ color:#908e8e; font-size:20px; padding:1px 3px; float:left;}
.m_sure{ float:left; width:40px; height:25px; line-height:25px; border:1px solid #c9c8c8; text-align:center;}
.m_sure a{ font-size:12px; color:#666;}

.into_con dl{ padding:10px; margin-top:10px; border-bottom:1px solid #c8c8ca; position: relative;}
.into_con dl dt{ float:left; width:23%;}
.into_con dl dt img{ box-shadow:0 1px 4px #ccc;}
.into_con dl dd{ float:left; width:75%; margin-left:2%;}
.w_b{ width:90%; float:left;}
.w_b span{ font-size:14px; color:#999; display: block; line-height: 20px; height: 40px; overflow: hidden;}
.an_btn{ border-radius:7px; height:22px; position: absolute; bottom: 10px; padding: 0 6px; background:#aa2b27; color:#fff; font-size:14px; text-align:center; line-height:22px; margin-top:5px;}
.arrow{width: 10px; position: absolute; right: 10px; top: 50%; margin: -7px 0 0;}
.arrow img {width: 14px;}

.all_ev{background:#fff; line-height: 30px; border-bottom:1px solid #d4cdcd;}
.all_ev li {float: left; margin: 0 5px 0 0;}
.all_ev li label{font-size: 12px;}
.review{ background:#fff; min-height:50px; border:1px solid #d4cdcd; border-top:1px solid #eee;}
.review a{ float:left; width:25%; line-height:50px; text-align:center; display:inline-block;}
.review a.hover,.review a:hover{ background:url(../../images/new/qq_1.png) no-repeat 20% center; padding-left:20px; color:#CF271D;}

.btn-purple1{ width:56%; background-color:#d0281e; border:1px solid #f8546f;}
.shouc{ background:url(../../images/new/icon_05.png) no-repeat; width:30px; height:30px; float:left; border:1px solid #c8c8c8; border-radius:5px;}

.tb-metatit{ color:#666;}
.good_sale.bor_b{ border-top:0; padding-top:0; margin-top:0;}

.order_exch{ border-radius:5px; background-color:#d0281e; line-height:40px; min-height:40px; text-align:center; margin:60px 20px 0 20px;}
.order_exch a{ color:#fff;}


/*层*/
.layer_ab{ position:absolute; background:rgba(0,0,0,0.5); width:100%; height:100%; top:0; left:0; z-index:10;}
.layer_bg{ background-color:#f6f1ef; padding-top:20px;}
.layer_ab .layer_ab1{ top:0;}

/*收货地址*/
.edit_address_b{ height:50px; line-height:50px; position:relative; padding:0 20px; border-bottom:1px solid #c5c5c5;}
.s_l{ position:absolute; left:20px; font-size:14px; top:0;}
.edit_address_b span{ color:#666;}
.edit_address_b span.q_bi{ position:relative; display:block; margin-left:90px;}

.public_select option,.public_select,.public_input{ background:0 0; position:absolute; left:0; overflow:visible; width:95%; top:0; height:40px; margin-top:5px; border:0; color:#666; appearance:none; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; }

.public_textarea{ height:75px; line-height:18px; border:0; width:100%; border:0;}
.edit_address_b.edit_address_b1{ height:130px; line-height:35px;}
.checkbox_input{ margin:13px 0 0;}
 
/*会员中心*/

.reflect{ background-color:#fff; border-top:1px solid #d2d2d2; padding:0 20px; border-bottom:1px solid #d2d2d2; margin:20px 0;}
.reflect p{ line-height:46px; float:left; color:#666;}
.reflect .ref_l {line-height: 20px; padding: 5px 0;}
.reflect .ref_l span {font-size: 12px; line-height: 20px; padding-left: 10px;}
.reflect a{ float:right; width:20%; margin-left:5px; background-color:#d0281e; border-radius:5px; margin-top:7px; line-height:36px; text-align:center; color:#fff;}
.change_m{ margin-bottom:20px;}
.change_m tr td{ padding:13px 15px;}
.t_tie{ height:35px; background-color:#bfbfbf; text-align:center; border-left:1px solid #fff; border-bottom:1px solid #d7d4d4; color:#fff;}
.change_m .b_no{ border-left:0;}
.t_text{ font-size:12px; line-height:145%; color:#666; background:#fff; border:1px solid #c1bcbc; border-top:none; border-right:none;}
.t_text p{ font-weight:bold;}
.t_text .w_no{ font-weight:normal;}
.t_text.t_center{ text-align:center; padding-left:0; padding-right:0;}

.t_center{text-align:center;}

.page_d{ font-size:14px; line-height:27px; padding-left:20px; padding-right:10px; margin-bottom:30px;}
.page_d p{ float:left; color:#666;}
.p_tb{ float:right;}
.p_tb a{ float:left; background-color:#c9c9c9; padding:0 5px; margin:0 10px; border-radius:5px; text-align:center; color:#fff;}
.p_tb a.hover{ background-color:#d0281e;}
.p_tb span{ float:left; color:#807e7e;}
.inq_tie1{ margin-bottom:0; }
.inq_tie1 a{ color:#fff; background-color:#bfbfbf; border-left:1px solid #fff;}
.inq_tie1 a:hover,.inq_tie1 a.hover{ color:#666; font-weight:bold; border:none;}

.j_con{ margin-bottom:20px;}
.text_unity{ background-color:#fff; color:#666; font-size:14px; border-bottom:1px solid #d7d4d4; padding:15px 20px;}
.text_unity h3 span{ float:right;}
.t_nr{ padding:10px 0; color:#b2b2b2; line-height:130%;}

.img_m{ margin:40px auto 20px auto; width: 30%;}
.t_m{ text-align:center; color:#666; font-size:18px;}
.t_m1{ text-align:center; color:#a3a3a3; padding-top:15px; display: none;}

.c_tie1{ line-height:40px; color:#666; padding-left:20px;}
.c_nr dl{ background-color:#fff; padding:20px; margin-bottom:1px;}
.c_nr dl dt{ float:left; width:20%;}
.c_nr dl dt img{ border-radius:5px; border:1px solid #e6e6e6;}
.c_nr dl dd{ float:left; margin-left:10px; width:75%; font-size:14px;}
.c_wj{ width:65%; float:left;}
.c_wj p{ padding-bottom:5px;}
.c_wj a{ color:#4c4c4c; line-height:135%;}
.f_r{ float:right;}

.order_f{ background-color:#fff; margin-bottom:20px;}
.order_f tr td{ color:#666; border-bottom:1px solid #c9c9c9; font-size:14px; line-height:140%; padding:10px 10px;}
.order_f .pleft{ padding-left:20px;}


.shouyi{ float:right; width:77%;padding: 5px 0; height: 90px; position: relative;}
.shouyi h2{ color:#fff; line-height:30px; height: 30px; overflow: hidden; font-size:18px; padding:0 25px 0 15PX;}
.shouyi a.shezhi{background:url(../../images/new/sz.png) 0 0 / cover no-repeat; width:36px; height:36px; display:block; position: absolute; top: -40px; right: 0;}
.shouyi dl{ margin-top:5px;}
.shouyi dl dd{ float:left; line-height:130%; width:33%; text-align:center;}
/*.set-up{ float:left; width:36px; height:33px; margin-top:25px;}*/

.menu-list{ padding:3px 0 3% 3%;}
.menu-list li {float:left;width: 30%; height:100%;padding:2% 3% 1%;text-align: center; background:#fff; box-shadow:1px 5px 5px #ccc; margin-right:3%; margin-bottom:3%;}
.menu-list li a img {width:34%;display: block;margin: 0 auto .6em;}
.menu-list li p {text-align: center; height:35px; overflow:hidden;line-height: 1.25em;}
.menu-list li p span {display: block;}
.menu-list li p em {font-size: 12px;}

.d_z_t{ padding:25px 0 25px 35px;}
.d_z_t a{ color:#fff;}
.d_z_t p{ height:30px; width:2px; background-color:#fff; float:left; margin-top:6px; margin-left:8%;}
.b_btn{ border-radius:5px; border:2px solid #fff; float:left; height:45px; line-height:42px; width:28%; text-align:center; margin-left:8%;}
.b_img{ float:right; margin-top:11px;}


.set_up{ background-color:#fff; border-top:1px solid #d2d2d2; margin:10px 0;}
.set_up.set_up1{ margin-top:10px;}
.set_up ul li{ margin:0 20px; border-bottom:1px solid #d2d2d2; padding:10px 0; color:#666;}
.set_up ul li a {display: block;}
.set_up ul li span{ float:left; width:12%;}
.set_up ul li span img {width: 25px; margin: 7px auto 0;}
.set_up ul li h4{ float:left; line-height:32px; padding-left:20px; }
.set_up ul li em img{ float:right; margin-top:8px;}
.set_up ul:after{ border-bottom:1px solid #d2d2d2; content:""; position:absolute; width:100%; height:1px; margin-top:-2px;}
.set_up ul li h4.t_height{ padding-top:3px;}
.set_up ul li h4.t_height p {line-height: 18px;}
.set_up ul li h4.t_height p.ft12 {font-size: 12px; color: #999;}
.set_up ul li h4 a{ margin-top:0; color:#666;}

.h_t{ margin-bottom:1px; background-color:#fff; padding:15px 20px;}
.h_t .fileInput {position: absolute; right: 20px; width: 75px; height: 75px; opacity: 0;}
.m_t1{ line-height:75px;}
.h_t span,h_t1 span{ float:left; color:#666;}
.h_t img{ float:right; border-radius:100px; width:75px; height:75px;}
.h_t1{ background-color:#fff;}
.h_t1 p{ border-bottom:1px solid #eee; padding:16px 20px; color:#666;}
.h_t1:after{ border-bottom:1px solid #eee; content:""; position:absolute; width:100%; height:1px; margin-top:-2px;}

.binding_tie{ border-bottom:1px solid #b5b5b5; padding:20px;}
.binding_tie span{ color:#666}
.binding_tie a{ float:right; color:#d0281e;}
.b_con ul li{ background-color:#fff; color:#555; padding:20px; line-height:130%; border-bottom:1px solid #b5b5b5;}
.b_con ul li img{ float:left; padding:3px 20px 0 20px; width: 90px;}
.card_number{ float:left;}
.b_con ul li span{  float:right; color:#b2b2b2; font-size:14px; padding-left:-10px;}
.f_size{ font-size:14px; color:#b2b2b2;}
.x_btn{ margin: 20px 0; }
.x_btn a,.x_btn input{ margin:0 auto; border: none;background:#d0281e; display:block; height:40px; line-height:40px; text-align:center; border-radius:5px; color:#fff; width:92%;}

.b_bank{ margin:0 20px 20px 20px; line-height:130%; color:#555; padding:20px; border-radius:5px; background-color:#fff; border:1px solid #dcdcdc;}
.b_img1{ width:50px; float:left; padding-top:3px; margin-right:20px;}
.b_bank a{ float:right; padding-top:5px;}
.z_height{ margin-bottom:15px;}


.jb_bank {width:90%; background:#fff; position:fixed; left:5%; top:50%; margin-top:-145px; z-index:999;}
.jb_bank h5 {line-height:50px; font-size:18px; padding-left:5%; background:#d0281e;}
.jb_bank .bank_xx {padding:30px 5%; line-height:40px;font-size:18px;}
.jb_bank .bank_xx .card_no {width:100%; padding:0 3%; border:1px solid #c2c2c2; border-radius:3px; height:36px; line-height:36px;}
.jb_bank .b_btn {width:30%; margin:0 9%; height:40px; background:#d0281e; color:#fff; border-radius:3px; line-height:40px;}
.p_bg {width:100%; height:700px; position:absolute; left:0; top:0; z-index:999; background:rgba(0,0,0,0.3);}

/*公共*/
.b_btoom{border-bottom:none;}

/*弹出是否删除*/    
.mblur {filter:blur(13px); -webkit-filter:blur(13px); filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='13');}  
.ys_bj{width:84%; position:fixed; left:6%; top:50%; margin-top:-55px; padding-top:20px; background:rgba(0,0,0,.5); border-radius:5px; text-align:center;}
.ys_w{ line-height:30px; font-size:15px; color:#fff;}
.ys_fou {padding:0 20%;} 
.ys_fou a{ display:inline-block; width:40%; border-radius:5px; border:1px solid #fff; height:24px; line-height:22px; color:#fff;margin:20px 0;}

/*@media screen and (min-width: 380px) {
.shop_g {margin-top:-40px;}
} */

/*物流*/
.log_wl{ 
	margin:10px 0;
}
.log_tie{ 
	background-color:#dcdcdc; 
	line-height:40px; 
	height:40px;
	border-top:1px solid #c9c9c9;
	padding-left:20px;
	color:#4c4c4c;
	font-size:18px;
}
ul.log_list{
	padding-bottom:15px;
}
ul.log_list li{
	border-bottom:1px solid #c9c9c9;
	background-color:#fff;
	height:40px; 
}
ul.log_list li a{
	width:100%;
	line-height:40px;
	display:block;
	padding:0 20px;
	color:#666;
}
ul.log_list li a:hover{
	background:url(../../images/new/dui_tb1.png) no-repeat 95% center;	
}
ul.log_list li a.hover{
	background:url(../../images/new/dui_tb1.png) no-repeat 95% center;	
}
.input_log{ 
	width:100%;
	height:39px; 
	border:0;
	padding-left:20px;
	font-family:"Microsoft YaHei";
}
.log_tj{
	width:100%;
	padding:15px 20px 0 20px;
	text-align:center;
}
.log_tj a{
	display:block;
	height:40px;
	color:#fff;
	font-size:18px;
	line-height:40px;
	border-radius:5px;
	background-color:#d0281e;
}

/*配送地区弹出框*/
.delivery{ position:relative; width:100%; height:100%;}
.b_tm{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.3); left:0; top:0; z-index:10;}
.d_con{ width:94%; position:absolute; top:100px; background-color:#fff; z-index:100; padding:20px; margin:0 3%;}
.d_con h3{ font-size:16px; margin:10px 0 20px 0; color:#333;}
.d_xq a{ width:23%; display:block; text-align:left; float:left; line-height:24px; color:#666;}
.img_d{ position:absolute; top:15px; right:10px;}
.d_con .d_region li {float: left; list-style: none; width: 25%;text-align: center;position: relative;}
.d_con .d_region li a {color: #666;line-height: 24px;}
.d_con .d_region li .citys {position: absolute;width:212px;top:24px;background: #f9f9f9;border: 1px solid #ccc;z-index: 99; display: none;}
.d_con .d_region li .citys span {display: block; width: 70px;float: left;}
.d_con .d_region .city_bg {width: 100%;height: 100%;display:none;background: rgba(0,0,0,0.6); position: fixed;top:0;left: 0;z-index: 90;}
.d_con .d_region li.cur .citys {display: block;}