 .mnBlank .mnItemTable{
     border-collapse:separate; border-spacing:20px;font-size: 18px;text-align: center
 }

 .mnBlank .mnItemTable tr{
     line-height: 26px;
     font-size: 16px;
     height: 40px;
     position: relative;
     width: 60%;
     valign:middle
 }

 .mnBlank .mnItemTable tr td{
     line-height: 26px;
     height: 40px;
     position: relative;
 }

 .mnBlank .mnItemTable tr .tr_left_input{
     height: 40px;
     line-height: 26px;
     font-size: 16px;
     font-family: "微软雅黑";
     color: #808080;
     min-width:100px;
     width:170px;
     max-width:300px;
 }

 .mnBlank .mnItemTable tr .toggle_yes{
     height: 32px;
     background: url("../images/mn/toggle_yes_no.jpg") no-repeat left 1px;
 }
 .mnBlank .mnItemTable tr .toggle_no{
     height: 32px;
     background: url("../images/mn/toggle_yes_no.jpg") no-repeat left -32px;
 }


 .unTypeAccountLoginDiv_rememberMe{
     background: url('../images/mn/checked_unchecked.png') no-repeat -2px -22.5px;
     margin-top: 6.5px;
     width:15px;
     height: 15px;
 }
 .unTypeAccountLoginDiv_notRememberMe{
     background: url('../images/mn/checked_unchecked.png') no-repeat -2px -2.5px;
     margin-top: 6.5px;
     width:15px;
     height: 15px;
 }
 .unTypeAccountLoginDiv {
     float: left;
     width:20px;
     height: 20px;
 }
